body {
	height: 100%;
	width: 100%;
	color: #555;
	font-family: Arial;
	margin: 0;
}
.Game {
	display: flex;
	justify-content: center;
	margin: 20px auto;
}
.Instructions {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.Settings {
	display: flex;
	flex-direction: column;
	padding: 0 30px;
	align-items: center;
}
.Description {
	margin: auto;
	padding: 0 20px;
	text-align: center;
	max-width: 600px;
}
li {
	margin-left: -25px;
}
canvas {
}